* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 400px;
    background-color: #fefae0;
    padding: 5px 20px;
}

input[type="url"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(40, 54, 24);
    /* outline: none; */
    border-radius: 5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button-group {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

button {
    background-color: rgba(40, 54, 24, 0.9);
    color: #fff;
    border: none;
    padding: 7px 14px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(40, 54, 24, 0.8);
}

#delete-btn {
    background-color: #AD0000;
}

#delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

/* Leads List */
#leads-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    border: 1px solid #606c38;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    max-height: 300px;
    overflow-y: scroll;
}

#leads-list li {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    background: #283618;
    overflow-wrap: break-word; 
}

#leads-list li a {
    color: #fff;
    text-decoration: none;
}

#leads-list li a:hover {
    text-decoration: underline;
}